@import url('https://db.onlinewebfonts.com/c/a129bb6d34d961999439ccd226117760?family=Foundry+Monoline');
@import url('https://db.onlinewebfonts.com/c/2076303bae3446cc70b72e395db449af?family=FoundryMonolineOT3W08-MedIta');
@import url('https://db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');
/*17px  1vw
  21px  1.3vw
  30px  2vw
  51px  3.2vw
  80px  5vw
  228px 14.5vw*/

body, html{
    width: 100%;
    overflow-x: hidden;
}

.card-body{
    margin: 0;
    padding: 0;
}

/*card-header*/
.card-header, .bg-light{
    width: 100%;
    height: 2vw;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0;
    justify-content: space-around;
    padding: 0;
}

.bg-light{
    padding-left: 9vw;
    padding-right: 9vw;
    justify-content: space-between;
}

.navbar-brand{
    padding: 0;
}

.navbar-brand.localizacao{
    margin-right: 2vw;
}

.navbar img{
    height: 1.1vw;
}

.navbar img.img-carta{
    height: .85vw;
}

.navbar label{
    text-align: left;
    font-size: .75vw;
    font-family: Foundry Monoline;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

/*header*/
.header{
    padding-left: 10vw;
    padding-right: 11.5vw;
    justify-content: space-between;
    margin-top: 1.7vw;
    margin-bottom: 1.7vw;
}

.header .logo_banzai{
    height: 3.2vw;
}

.header .logo_banzai img{
    height: 3.2vw;
    margin-top: .2vw;
}

.header .contato h5{
    text-align: left;
    font: Italic .9vw/1.3vw Foundry Monoline;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    color: #727B7A;
    opacity: 1;
    margin: 0;
}

.header .contato h3{
    text-align: left;
    font: Italic 1.6vw/2.2vw FoundryMonoline-ExBdIta;
    letter-spacing: 0;
    color: #DF0209;
    opacity: 1;    
    margin: 0;    
}

/*banner*/
.img-banner{
    width: 100%;
}

.vencedor{
    margin-top: -12vw; 
    margin-left: 8vw;
    width: 9%;
}

.img-vencedor{
    width: 100%;
}

.modal-contato{
    width: 19vw;
    height: 26vw;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 4px;
    opacity: 1;
    margin-top: -24vw; 
    margin-left: 58vw;
    padding: 1.5vw;
    margin-bottom: .5vw;
}

.modal-contato .titulo{
    margin-bottom: 1.5vw;
    margin-left: .2vw;
}

.modal-contato .titulo .texto-titulo h6{
    text-align: left;
    font: 1vw/1.2vw Foundry Monoline;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.modal-contato .titulo .texto-titulo h3{
    text-align: left;
    font: 1.6vw/1.7vw Foundry Monoline;
    letter-spacing: 0;
    color: #DF0209;
    text-transform: uppercase;
    margin: 0;
}

.modal-contato .titulo img.img-telefone{
    width: auto;
    height: 2.9vw;
    margin-right: .9vw;
}

.formulario{
    width: 16vw;
    height: 2.8vw;
    background: rgba(255, 255, 255, 0.12) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 0.3vw;
    
    font-size: .9vw;
    font-family: Roboto;
    letter-spacing: 0;
    color: #00000061;
}

::-webkit-input-placeholder{ 
    opacity: .7; 
}

input[type = 'email']{
    background-image: url(imagens/envelope.svg);
    background-position-y: center;
    background-position-x: 0.5vw;
    background-size: 1.25vw;
    text-indent: 2.2vw;
}

input[type = 'text']{
    background-image: url(imagens/Grupo\ 32.png);
    background-position-y: center;
    background-position-x: 0.5vw;
    background-size: 1.1vw;
    text-indent: 2.2vw;
}

input[type = 'number']{
    background-image: url(imagens/call-answer.png);
    background-position-y: center;
    background-position-x: 0.5vw;
    background-size: 1.25vw;
    text-indent: 2.2vw;
}

select.horario{
    background-image: url(imagens/clock-circular-outline.png);
    background-position-y: center;
    background-position-x: 0.5vw;
    background-size: 1.2vw;
    text-indent: 2.1vw;
}

select.unidade{
    background-image: url(imagens/localizacao.svg);
    background-position-y: center;
    background-position-x: 0.6vw;
    background-size: .95vw;
    text-indent: 2.1vw;
}

.botao{
    width: 16vw;
    height: 3.3vw;
    background: #1CB72A 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;

    text-align: center;
    font: Bold .9vw Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*propaganda*/
.propaganda{
    padding-left: 6.5vw;
    padding-right: 27vw;
}

.propaganda .propaganda-titulo h1{
    color: #000000;    
    margin-bottom: 1.5vw;
}

.propaganda .propaganda-fotos .fotos-trio div{
    width: 11.5vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D5D5D5;
    opacity: 1;
    margin-bottom: .5vw;
}

.propaganda .propaganda-fotos .fotos-trio img{
    width: 11vw;
    height: auto;
    opacity: 1;
    margin: .2vw
}

.propaganda .propaganda-fotos .foto-unica img{
    width: 50vw;
    height: auto;
    opacity: 1;  
    margin-top: 4.5vw;  
}

.propaganda .propaganda-texto p{
    text-align: left;
    font: 1.2vw/1.5vw Foundry Monoline;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

/*banner 2*/
.banner .texto{
    margin-top: -7.5vw; 
    margin-left: 6.8vw;
}

h1{
    text-align: left;
    font: Italic 2.45vw/3.3vw FoundryMonolineOT3W08-MedIta;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
}

.banner .texto h3{
    text-align: left;
    font: 1.33vw/1.5vw Foundry Monoline;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}   

/*informacoes*/
.informacoes{
    padding-top: 2vw;
    padding-left: 6.5vw;
    padding-right: 27vw;
}

/*carrossel*/
.row.carrossel-interno .card-carrossel{
    width: 18.9vw;
    margin-right: 2vw;
    padding-left: 1.5vw;
}

.carousel-item{
    height: 26vw;
}

.row.carrossel-interno .card-carrossel .div-imagem-carrossel{
    width: 18.9vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D5D5D5;
    opacity: 1;
}

.row.carrossel-interno .card-carrossel .div-imagem-carrossel img{
    width: 18vw;
    height: auto;
    opacity: 1;   
    margin: .4vw;    
}

.row.carrossel-interno .card-carrossel .card-body-carrossel{
    margin-top: .9vw; 
}

.row.carrossel-interno .card-carrossel .card-body-carrossel p.titulo{
    text-align: left;
    font-size: 1.2vw;
    font-family: SegoeUI-Italic, Segoe UI;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.row.carrossel-interno .card-carrossel .card-body-carrossel p.texto{
    text-align: left;
    font-size: .9vw;
    line-height: 1.3vw;
    font-family: SegoeUI-Light, Segoe UI;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: .9vw;
}

.carousel-indicators{
    margin: 0;
}

.carousel-indicators li{
    background: #D5D5D5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.carousel-indicators .active {
    opacity: 1;
    background: #808080 0% 0% no-repeat padding-box;
}

.carrossel a span{
    width: 3.2vw;
    height: 3.2vw;
    margin-bottom: 9.4vw;
    margin-right: 3.5vw;
}

.carousel-control-prev-icon{
    background-image: url(imagens/Grupo\ 66.svg);
}

.carousel-control-next-icon{
    background-image: url(imagens/Grupo\ 67.svg);
}

/*informacoes2*/
.informacoes .informacoes2{
    padding: 0;
    margin-bottom: 3.5vw;
}

.informacoes .informacoes2 h1{
    color: #000000; 
    margin-top: 3vw;
}

.informacoes .informacoes2 p{
    text-align: left;
    font: 1.2vw/1.5vw Foundry Monoline;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-bottom: 2vw;
}

.informacoes .informacoes2 .row.cards{
    margin-left: .2vw;
}

.informacoes2 .cards .card{
    width: 19vw;
    height: 24vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D5D5D5;
    opacity: 1;
    margin-right: 2vw;
}

.informacoes2 .cards .card img.card-img-top{
    width: 15.5vw;
    height: auto;
    opacity: 1;
    align-self: center;
}

.informacoes2 .cards .card p.card-text{
    text-align: center;
    font: 1vw/1.4vw Foundry Monoline;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    font-weight: lighter;
    margin: 1vw;
}

.informacoes2 .cards .card .botao-conheca{
    width: 17vw;
    height: 2.3vw;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    opacity: 1;

    text-align: center;
    font: .9vw Roboto;
    font-weight: lighter;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;

    margin: 0vw 1vw 1vw 1vw;
}

/*card-contato*/
.card-contato{
    width: 100%;
    height: 14.5vw;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    opacity: 1;
}

.contato .container{
    width: 17.5vw;
    height: 5vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DF0209;
    border-radius: 5px;
    opacity: 1;
    margin: 1vw;
    padding-left: 0;
    padding-right: 0;
    padding-top: .8vw;
}

.contato .container.localiza{
    background-image: url(imagens/localizacao.svg);
    background-position-y: center;
    background-position-x: .8vw;
    background-size: 1.6vw;
    text-indent: 3.2vw;
    opacity: 1;
    padding-top: 1vw;
}

.row.contato{
    justify-content: center;
    padding-top: .5vw;
}

.card-contato h3{
    text-align: center;
    font: 1.5vw/1.8vw Foundry Monoline;
    letter-spacing: 0;
    color: #DF0209;
    text-transform: uppercase;
    
}

.card-contato .telefone h3{
    text-align: center;
    font: Italic 1.6vw/2.2vw FoundryMonoline-ExBdIta;
    letter-spacing: 0;
    color: #DF0209;
    opacity: 1;   
    margin: 0;
}

.card-contato h4{
    text-align: center;
    font: Italic 1.4vw Foundry Monoline;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;
}

.card-contato h5{
    text-align: center;
    font: Italic .9vw/1.3vw Foundry Monoline;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    color: #727B7A;
    opacity: 1;
    margin: 0;
}

.card-contato h6{
    text-align: left;
    font-size: 1vw;
    font-family: Foundry Monoline;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.redes-sociais{
    text-align: center;
    margin-top: 0.3vw;
}

.redes-sociais img{
    margin-top: .8vw;
    height: 2.5vw;
}

.redes-sociais img.facebook, .redes-sociais img.instagram{
    margin-right: 1vw;
}

/*card-footer*/
.card-footer{
    justify-content: center;
    align-items: center;
}

.ibama label{
    text-align: left;
    font-size: 0.75vw;
    font-family: Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

.logo_banzai img{
    height: 2vw;
    margin-right: 10vw;

}

.ibama img{
    height: 3vw;
    margin-left: 1vw;
}